footer{
    font-family: "Arial";
    height: auto;
    background-color: black;
    max-height: 400px;
}

footer h5{
    color: gold;
    margin-left: 80px;
    margin-top: 40px;
    top: 100px;
}

#f-container{
    margin-left: 80px;
    background-color: #001225;
    min-width: 200px;
    margin-bottom: 10px;
}

.f-columns{
    min-height: 350px; 
    display: inline-block;
    
}

.first-column{
    float:left;
    margin-top:20px;
    margin-left: 80px;
    margin-right: 80px;
    border-image: linear-gradient(to right, #013770 100%, #013770 100%);
    border-image-slice: 1;
    border-width: 3px;
    border-left: 8px solid;
    padding: 15px;
    padding-top: 1px;
    line-height: 1.5em;
}


.first-column p{
    font-size: 15px;
    color: gold;
}

.first-column h3{
    font-size: 22px;
    margin-bottom: 100px;
}
.first-column a{
    color: rgb(255, 220, 24);
    font-size: 22px;
    margin-bottom: 100px;
}
.first-column h2{
    color: yellow;
    font-size: 21px;

}

