#roadmap{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-position: 66%;
    height: auto;
    
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


#pageTitleC-div{
  display: inline-block;
  /*padding: 32px 24px;*/
  margin-top: 0px;
}

#pageTitleC img{
  /*font-family: "Arial";*/
  max-width: 100%;
  color: rgb(255, 255, 255);
  margin-left: 0px;
}

#pageTitleC{
  font-family: "Arial";
  font-size: 7.5rem;
  color: rgb(255, 255, 255);
  margin-left: 100px;
  padding-bottom: 0;
}

h1{
    font-size: 1rem;
    text-align: center;
}
body {
  margin: 0;
  padding: 0 4em;
  margin-left: 100px;
}

main {
  min-width: 300px;
  max-width: 500px;
  margin:auto;
  margin-bottom: 700px;
  margin-left: 1000px;
  margin-right: 0;

}

main img{
  position: absolute;
  left: 100px;
  right: 0px;
  max-width: 93%;
  min-height: 40%;
  margin-left: 0px;
}

@media (max-width:2540px){
  main{
    margin-bottom: 910px; 
  }
  main img{
    max-width: 96%;
  }
}
@media (max-width:2500px){
  main{
    margin-bottom: 910px; 
  }
  main img{
    max-width: 96%;
  }
}

@media (max-width:2000px){
  main{
    margin-bottom: 700px; 
  }
  main img{
    max-width: 96%;
  }
}
@media (max-width:1580px){
  main{
    margin-bottom: 600px;
  
}
}
@media (max-width:1100px){
main{
  margin-bottom: 500px;

}


}
/*
#roadmap .roadmap-title{
  font-family: "Arial";
  font-size: 6.5rem;
  margin-bottom: 32px;
  margin-right: 110px;
  margin-left: 80px;
  color: rgb(255, 255, 255);


}

#roadmap .roadmap-title strong{
  font-weight: 900;
}

#roadmap p{
  font-family: "Arial";
  font-size: 1.2em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #b6b6b6 0%, #ffd900 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  text-align: center;
  padding: 45px;
  counter-increment: section;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
  filter: 
      drop-shadow(rgba(0, 0, 0, 0.95) 0px 0px 1.6366px) 
      drop-shadow(rgba(0, 0, 0, 0.767) 0px 0px 4.283px) 
      drop-shadow(rgba(0, 0, 0, 0.44) 0px 0px 12.849px);

}/*
  numbers 
p::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: black;
    text-align: center;
    line-height: 1.25em;
    color: white;
    font-size: 1em;
  }
*/
/*
p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

p::before {
    left: 100%; 
    margin-left: -20px;
  }


p:nth-child(even) {
  border-left: 3px solid;
  padding-left: 0;
  margin-right: 100px;
}
  p::before {
    right: 100%; 
    margin-right: -20px;
  }


p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
p:last-child {
  border-bottom-right-radius:100px;
  border-bottom-left-radius:10px;
}

@media (max-height:940px){
  p{
    padding:25px;
  }
}

@media (max-height:720px){
  p{
    padding:18px;
    font-size: 1em;
  }
}
@media (max-height:666px){
  p{
    padding:0px;
    font-size: 0.8em;
  }
}
@media (max-height:580px){
  p{
    padding:0px;
    font-size: 0.8em;
  }
}

@media (max-width:940px){

  p{
    padding:25px;
  }
  }

  @media (max-width:680px){
    main{
      margin-right: 100px;
    }
    #roadmap .roadmap-title{
      margin-left: 15px;
      margin-right: 20px;
    }
  }
  @media (max-width:480px){
    main{
      margin-left: 5px;
      margin-right: 5px;
    }
    #roadmap .roadmap-title{
      margin-left: 15px;
      margin-right: 15px;
      font-size: 4.1rem;
    }
  }*/